*{
    margin: 0;
    padding: 0;
}

body{
    width: 65vw;
    height: 90vh;
    padding-left: 2%;
    padding-top: 2%;
}

#mainContainer{
    box-shadow: 2px 3px 25px 9px rgba(0,0,0,0.45);
    -webkit-box-shadow: 2px 3px 25px 9px rgba(0,0,0,0.45);
    -moz-box-shadow: 2px 3px 25px 9px rgba(0,0,0,0.45);
    border-radius: 15px;
}

#leftContainer{
    border-bottom-left-radius: 3%;
    border-top-left-radius: 3%;
    margin-top: 35px;
    margin-left: 35px;
}

.icon{
    height: 55px;
    color: #A5A5A5;  
    font-size: 30px;
    position: relative;
}

.icon:hover{
    color: #D46666;

}

#divisorLine{
    border: none;
    border-left: 2px solid #a5a5a544;
    height: 500px;
    margin-top: -300px;
    margin-left: 65px;  
  }

.upperCentralCointainer{
    padding-top: 20px;
    padding-left: 60px;
}

.title{
    position: relative;
    color:  #858585;
    font-family: Roboto, Helvetica, sans-serif;  
    font-style: normal;
    font-weight: bold;
    font-size: 23px;    
}

.benefits{
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.firstBen{
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 120px;
    width: 120px;
    border-radius: 15px;
    box-shadow: 2px 0px 19px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 0px 19px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 0px 19px -3px rgba(0,0,0,0.75);
    margin-top: 30px;
    border: 1px solid #858585bb;
    padding-left: 15px;
    padding-top: 35px;
}

.firstBen > i{
    height: 40px;
    color: #FB9F89;
    font-size: 40px;
    position: relative;    
}

#vehLoan{
    position: relative;
    color: #585858;
    font-family: Arial, Helvetica, sans-serif;  
    font-style: normal;
    font-weight: bold;
    font-size:9px; 
}

.secondBen{
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 120px;
    width: 120px;
    border-radius: 15px;
    box-shadow: 2px 0px 19px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 0px 19px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 0px 19px -3px rgba(0,0,0,0.75);
    margin-top: 30px;
    border: 1px solid #858585bb;
    padding-left: 15px;
    padding-top: 35px;
}

.secondBen > i{
    height: 40px;
    color: #FB9F89;
    font-size: 40px;
    position: relative;    
}

#houseLoan{
    position: relative;
    color: #585858;
    font-family: Arial, Helvetica, sans-serif;  
    font-style: normal;
    font-weight: bold;
    font-size:9px; 
}

.thirdBen{
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 120px;
    width: 120px;
    border-radius: 15px;
    box-shadow: 2px 0px 19px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 0px 19px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 0px 19px -3px rgba(0,0,0,0.75);
    margin-top: 30px;
    border: 1px solid #858585bb;
    padding-left: 15px;
    padding-top: 35px;
}  

.thirdBen > i{
    height: 40px;
    color: #FB9F89;
    font-size: 40px;
    position: relative;    
}

#stdLoan{
    position: relative;
    color: #585858;
    font-family: Arial, Helvetica, sans-serif;  
    font-style: normal;
    font-weight: bold;
    font-size:9px; 
}

.lowerCentralCointainer{
    padding-top: 50px;
    padding-left: 70px;
}

.messageTransaction{
    position: relative;
    color: #858585;
    font-size: 5px; 
    padding: 20px;
}

#view{
    height: 40px;
    width: 100px;
    margin-left: 180px;
    background: #FF7D7D;
    color: white;
    border: none;
    font-family: Arial, Helvetica, sans-serif;  
    font-style: normal;
    font-weight: bold;
    font-size: 10px; 
    border-radius: 15px;
    box-shadow: 2px 0px 19px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 0px 19px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 0px 19px -3px rgba(0,0,0,0.75);
}

#rightContainer{
    height: 100%;
    background: #FFF1F1;
    border-bottom-right-radius: 3%;
    border-top-right-radius: 3%;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}

#rightContainer > img{
    max-width: 70%;
    margin-left: 25px;
    border-radius: 15px;
    box-shadow: 2px 0px 19px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 0px 19px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 0px 19px -3px rgba(0,0,0,0.75);
}

.cardDetail{
    padding-top: 50px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#titleDetail{
    position: relative;
    color: #858585;
    font-family: Arial, Helvetica, sans-serif;  
    font-style: normal;
    font-weight: bold;
    font-size: 13px; 
}

.detail{
    position: relative;
    color: #858585;
    font-family: Arial, Helvetica, sans-serif;  
    font-style: normal;
    font-weight: bold;
    font-size: 9px; 
}

.cardDetail > button{
    height: 40px;
    width: 100px;
    background: #FF7D7D;
    color: white;
    border: none;
    font-family: Arial, Helvetica, sans-serif;  
    font-style: normal;
    font-weight: bold;
    font-size: 10px; 
    margin-top: 15%;
    margin-left: 12%;
    border-radius: 15px;
    box-shadow: 2px 0px 19px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 0px 19px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 0px 19px -3px rgba(0,0,0,0.75);
}

.cardDetail > button:active{
    background: #c95d5d;
}


